@model FileDownloadAndUpload.Models.User
@{
    ViewBag.Title = "Client";
    System.Data.Entity.DbSet<FileDownloadAndUpload.Models.User> Users = ViewBag.Users;

}
       @*string translateStatus(int status)
    {
        if(status ==0)
            return "离线";
        if(status==1)
            return "在线";
        return "未知";
    }*@
<div class="center" style="width:960px;">

    <div style="margin-left:350px;width:600px">
        @*显示客户端*@
        <ul>
            @foreach (var user in Users)
            {
                <li>@user.ID | @user.Status |<a _id="@user.ID" class="unicast" href="#">发送消息</a></li>
            }
        </ul>
    </div>

</div>

<script>
    function success() {
        $("#send").html("success");
    }
</script>